.banner-section {
  height: 550px;
  background-image: url("../images/home/banner.webp");
  background-position: bottom;
  position: relative;
  justify-content: center;
}

.booking-section {
  display: flex;
  bottom: -100px;  
  justify-content: center;
  position: absolute;
  text-align: center;
  align-items: center;
  background-color: white;
  left: 20%;
  border: 2px solid red;
  border-radius: 10px;
}

.booking-section .check-in{
  padding: 20px; 
}

.booking-section .check-in  p{
  font-size: 30px;
}

.booking-section .check-out{
  padding: 20px;      
}

.booking-section .check-out  p{
  font-size: 30px;
}

.booking-section .information{
  padding:20px;  
}

.booking-section .information .adults{
   font-size:25px;  
   padding-right:20px;   
}

.booking-section .information .kids{
  font-size:25px;
  padding-right:20px;
}

.booking-section .information .selection-adults{  
  font-size:25px;
  border: none;
}

.booking-section .information .selection-kids{  
  font-size:25px;
  border: none;
  padding:10px;
}

.booking-section .book-now{
  padding:30px;
}

.booking-section .book-now p{
    font-size:20px;
    font-weight: bold;
}

.booking-section .book-now .dollar{
  font-size:20px;
  color: #226260;
}

.booking-section .book-now button{
  padding:12px;  
  background-color: #ad0662;
  border-radius: 20px;
  border:none;
  color: white;
}

.booking-section .booking-site{
  padding:30px;
}

.booking-section .booking-site .airbnb,.booking , .expedia,.agoda{
  padding-top: 20px;
}

.home-content-section {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  gap: 20px;
  margin-top: 130px;
}

.home-content-section .content-logo {
  display: flex;
  justify-content: center;
}

.home-content-section .content-title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-style: italic;
  color: #ad0662;
  font-weight: bold;
}

.home-content-section .content-title p {
  margin: 0;
}

.home-content-section .content-description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  line-height: 32px;
}

section.home-content-section {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  gap: 20px;
}

.feature-location .feature-title{
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-style: italic;
  color: #ad0662;
  font-weight: bold;
}

.feature-location .location-pics{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.feature-location .location-pics .room1 img{
  border-radius: 10px;
}

.feature-location .location-pics .room2 img{
  border-radius: 10px;
}

.feature-location .location-pics .room3 img{
  border-radius: 10px;
}

.feature-location .location-pics .room1,.room2,.room3 p{
  font-size: 20px;
  color: grey;
  text-align: center;
}
.explore{
  padding-left: 150px;
  padding-top:100px;
  padding-bottom: 100px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
}

.shooping{
  background-image: url("../images/home/shopping.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width:500px;
  height:500px;
  padding-left:60px;
  padding-top: 90px;
  border-radius:15px;
}

.dining{
  background-image: url("../images/home/dining.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width:500px;
  height:500px;
  padding-left:60px;
  padding-top: 90px;
  border-radius: 15px;
}

.explore .shooping .shooping-info,.dining-info{
  background-color: rgba(0, 0, 0, 0.56);
  width:400px;
  height:300px;
  text-align: center;
  border-radius: 10px;
 
}  
.explore .dining .shooping-info,.dining-info{
  background-color: rgba(0, 0, 0, 0.56);
  width:400px;
  height:300px;
  text-align: center;
  border-radius: 10px;
 
} 

.explore .shooping .shooping-info p{
  font-size:50px;
  padding-left: 30px;
  padding-top: 40px;
  color: white;
}
.explore .dining .shooping-info p{
  font-size:50px;
  padding-left: 30px;
  padding-top: 40px;
  color: white;
}

.explore .shooping .shooping-info .shooping-button{
  font-size: larger;
  background-color: #ad0662;
  color: white;
  padding:20px;
  border-radius: 15px;
}

.explore .dining .shooping-info .shooping-button{
  font-size: larger;
  background-color: #ad0662;
  color: white;
  padding:20px;
  border-radius: 15px;
}

.us-content{
  display: flex;
  flex-direction: row;
  padding-left: 100px;
}

.us-content .content1 {
 padding-right: 80px;
}

.us-content .content1 h1{
  color: #ad0662;
  font-style: italic;
  font-size: 70px;
  padding-right: 80px;
  padding-bottom: 60px;
 }
 

.us-content .content1 .about{
  display: flex;
  flex-direction: row;
  padding-bottom:90px;
}

.us-content .content1 .about img {
    padding-right: 20px;
    height: 60px;
    padding-top: 30px;
}

.us-content .content1 .about .about-title{
  padding-left: 40px;
  font-size: 20px;  
}


.us-content .content1 .about .about-title .heading{
 font-size: xx-large;
  color:#226260;
  padding-bottom: 50px;
  font-style: italic;  
}

.us-content .view{
  z-index: 2;
}

.us-content .view img{
  border-radius: 15px;

}

.beach .hotel-view{ 
  background-image: url("../images/home/paraleximg123.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 20px;
  height:500px;
  margin:40px;
  position:relative;
  bottom:140px;
}

.views .hotel-views{
  display: flex;
  flex-direction: row;
  padding-left: 180px;
  padding-right: 180px;  
}

.views .hotel-views .room-image img{
  display: flex;
  position: relative;
  bottom:250px;
  border-radius: 15px;
  border:17px solid  #226260;
}

.views .hotel-views .tripBig .dots .dot {
  height: 20px;
  width: 20px;
  background-color:#2b7876c6;
  border-radius: 50%;
  display: inline-block;
}

.views .hotel-views .room-info{
  padding-left: 70px;
}

.views .hotel-views .tripBig{
  display: flex;
  flex-direction: row;
  
}

.views .hotel-views .room-info .para{
  font-size: 20px;
  color: #10706e;
  font-style: italic;
}

.views .hotel-views .room-info{
  display: flex;
  flex-direction: column;
    position: relative;
    bottom: 120px;
}

.video-tour .tour{
  font-size: 50px;
  font-style: italic;
  color:#ad0662;
  display: flex;
  position: relative;
  bottom: 180px;
  justify-content:center;
}

.video-tour .explor-video-main{
  display: flex;
  position: relative;
  bottom: 110px;
}

.sinup{
  text-align: center;
}
.sinup .offers{
  font-size: 40px;
  font-style: italic;
  color:#ad0662;
  padding-bottom: 40px;
}

.sinup .up-to-date{
  font-size:30px;
  color:gray;
  font-style: italic;
}

.sinup .input-text input{
  width:200px;
  height:30px;
}

.sinup .input-text{
  padding-top: 40px;
  padding-bottom: 40px;
}

.sinup .input-text .code{
  padding-left: 60px;
  font-size:20px ;  
}

